In [6]:
val = 29/5
print(divmod(29,5))

int qustnt 5
(5, 4)

In [1]:
int("1100001110",base=2)

782

In [5]:
hex(195)

'0xc3'

In [6]:
oct(195)

'0o303'

In [10]:
"hello"[::-1]

'olleh'

In [15]:
bin(195)

'0b11000011'

In [4]:
string = "Alvas engineering college"
for i in range(len(string)):
    print(string[0:i+1])

A
Al
Alv
Alva
Alvas
Alvas
Alvas e
Alvas en
Alvas eng
Alvas engi
Alvas engin
Alvas engine
Alvas enginee
Alvas engineer
Alvas engineeri
Alvas engineerin
Alvas engineering
Alvas engineering
Alvas engineering c
Alvas engineering co
Alvas engineering col
Alvas engineering coll
Alvas engineering colle
Alvas engineering colleg
Alvas engineering college

In [26]:
for i in range(len("Alvas engineering college")):
    print("Alvas engineering college"[0:len("Alvas engineering college")-i])

Alvas engineering college
Alvas engineering colleg
Alvas engineering colle
Alvas engineering coll
Alvas engineering col
Alvas engineering co
Alvas engineering c
Alvas engineering
Alvas engineering
Alvas engineerin
Alvas engineeri
Alvas engineer
Alvas enginee
Alvas engine
Alvas engin
Alvas engi
Alvas eng
Alvas en
Alvas e
Alvas
Alvas
Alva
Alv
Al
A

In [14]:
s = "A"
e = "F"
count = 1
while s!=e:
    for i in range(count):
        print(s,end="")
    count +=1
    s = chr(ord(s)+1)
    print('')

A
BB
CCC
DDDD
EEEEE

In [29]:
count = 1 
for i in range(10):
    s = "A"
    for i in range(count):
        print(s,end="")
        s = chr(ord(s)+1)
    print('')
    count += 1

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ

In [50]:
strg = "how are you"
upper = True
for i in range(len(strg)):
    
    if upper:
        print(strg[i].upper(),end="")
        upper = False
    else:
        print(strg[i],end="")
    if strg[i]==" ":
        upper = True
        print(" ",end="")
print("hello".title())
[i.capitalize()  for i in "hello".split()]

How  Are  YouHello Bro

'Hello'

In [3]:
# print ramanujan number
# print armstrong number
# print perfect number
# print happy number
# print prime number
# print fibonacci series
# print factorial
# print palindrome
# print reverse number
# print reverse string
# print reverse words
# print reverse words in string
# print reverse words in sentence
# print reverse words in paragraph

1728